@model Business.Models.StaffModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@if (ViewData.ModelState.IsValid)
{
    if (@ViewBag.Exception != null)
    {
        <b>Exception: ViewBag.Exception</b>
    }
    else if(@ViewBag.LastName != null || @ViewBag.FirstName != null || @ViewBag.FatherName != null
            || @ViewBag.BirthDt != null || @ViewBag.Email != null || @ViewBag.Phone != null)
    {
        <b>
            LastName: ViewBag.LastName <br />
            FirstName: ViewBag.FirstName <br />
            FatherName: ViewBag.FatherName <br />
            BirthDt: ViewBag.BirthDt <br />
            Email: ViewBag.Email <br />
            Phone: ViewBag.Phone
        </b>
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="form-group row">
            <label for="inputLastName" class="col-sm-2 col-form-label">Фамилия</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.last_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.last_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label for="inputLastName" class="col-sm-2 col-form-label">Имя</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.first_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.first_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label for="inputLastName" class="col-sm-2 col-form-label">Отчество</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.father_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.father_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label for="inputLastName" class="col-sm-2 col-form-label">Дата рождения</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.birth_dt, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.birth_dt, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label for="inputLastName" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Контактный телефон</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.phone_nbr, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.phone_nbr, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-secondary">
                @Html.ActionLink("Назад", "Index")
            </button>
            <button type="submit" class="btn btn-primary">Изменить</button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
